.input-field label {
  left: 0;
  font-size: 1.1em;
}

.webform-component {
  margin: 2.5em 0;
}

input[placeholder] {
  font-size: .9em;
}

// Materilize does some dumb stuff with lists
// so we need to undo that.
ul:not(.collection, .select-dropdown) {
  margin: 1em;

  li {
    list-style-type: disc;
    margin-left: 10px;
  }
}
