.page-node-79 {
  padding: 5vw 0;

  #page-title {
    font-size: 2.8em;
    text-shadow: 1px 1px 1px rgba(white, 0.5);
  }
}

.webform-component-matrix tbody .form-type-checkbox .option {
  font-size: .9em;
}

.page-node-79 tr td:nth-child(3)
{
  width: 30%;
}
